= simple_form_for [:admin, @item], html: { class: 'form-horizontal', multipart: true } do |f|
  - if notification = f.error_notification
    = notification

  = f.input :name
  = f.input :image
  = f.input :price
  = f.input :description
  = f.input :display_flag
  = f.input :sort_no

  .form-actions
    = f.button :submit, class: 'btn-primary'
