- @page_title = t('helpers.titles.list', { model: Item.model_name.human })

%table.table.table-striped.table-hover
  %tr
    %th= Item.human_attribute_name(:name)
    %th= Item.human_attribute_name(:image)
    %th= Item.human_attribute_name(:price)
    %th= Item.human_attribute_name(:description)
    %th= Item.human_attribute_name(:display_flag)
    %th= Item.human_attribute_name(:sort_no)
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.image
      %td= item.price
      %td= item.description
      %td= item.display_flag
      %td= item.sort_no
      %td= link_to 'Show', [:admin, item]
      %td= link_to 'Edit', edit_admin_item_path(item)
      %td= link_to 'Destroy', [:admin, item], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_admin_item_path
