- @page_title = t('.title')

= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' } do |f|
  - if notification = f.error_notification
    = notification
    
  = f.input :email, required: true, utofocus: true
  - if devise_mapping.confirmable? and resource.pending_reconfirmation?
    %p
      = t('.wait_confirmation_message') 
      %span : rsource.unconfirmed_email
  = f.input :password, autocomplete: 'off', required: false
  = f.input :password_confirmation, required: false
  = f.input :current_password, required: true
  = f.input :nick_name
  = f.input :profile_image

  .form-actions
    = f.button :submit, t('.submit_button'), class: 'btn btn-lg btn-primary'

%span.clearfix
%br

%div
  %h2= t('.destroy_title')
  %hr
    = link_to t('.destroy_link'), registration_path(resource_name), data: { confirm: t('.destroy_confirm') }, method: :delete, class: 'btn btn-lg btn-danger btn-white'

