- @page_title = t('helpers.titles.show', { model: Item.model_name.human })

%div.show
  %div.row
    %div.col-sm-2
      %b= Item.human_attribute_name(:name)
    %div.col-sm-10
      = @item.name
  %div.row
    %div.col-sm-2
      %b= Item.human_attribute_name(:image)
    %div.col-sm-10
      = @item.image
  %div.row
    %div.col-sm-2
      %b= Item.human_attribute_name(:price)
    %div.col-sm-10
      = @item.price
  %div.row
    %div.col-sm-2
      %b= Item.human_attribute_name(:description)
    %div.col-sm-10
      = @item.description
  %div.row
    %div.col-sm-2
      %b= Item.human_attribute_name(:display_flag)
    %div.col-sm-10
      = @item.display_flag
  %div.row
    %div.col-sm-2
      %b= Item.human_attribute_name(:stock)
    %div.col-sm-10
      = @item.stock

= link_to 'Edit', edit_provide_item_path(@item)
\|
= link_to 'Back', provide_items_path
