%div
  = link_to new_diary_path, class: 'btn btn-primary btn-white' do
    %i.glyphicon.glyphicon-plus
    = t('helpers.titles.new', { model: Diary.model_name.human })

%br

%p
  %span.pull-left= t('views.page_info.page', current: @diaries.current_page, total: @diaries.num_pages)
  %span.pull-right= t('views.page_info.records', offset: @diaries.offset_value+1, limit: (@diaries.offset_value + @diaries.length), total: @diaries.total_count)
  %span.clearfix


- @diaries.each do |diary|
  .diary-list-contents
    .title
      %span.link= link_to diary.title, diary
      %span by
      %span= diary.user.nick_name
      %span.pull-right= l(diary.created_at, format: :long)
      %span.clear-both
    .content
      %p= simple_format(diary.contents)
    - if diary.image.present?
      .image
        = image_tag diary.image.normal
    .actions
      %span.good{ id: "good-button-#{diary.id}" }
        = render 'good', { diary: diary }
      %span.comment
        = link_to new_diary_comment_path(diary) do
          %i.glyphicon.glyphicon-comment
          = t('.comment_button')
        %span.size= t('.size', size: diary.comments.size)

= paginate @diaries

