
%table.table.table-striped.table-hover
  %tr
    %th.thumb-image-col
    %th= Item.human_attribute_name(:name)
    %th= Item.human_attribute_name(:price)
    %th= CartItem.human_attribute_name(:quantity)
    %th= CartItem.human_attribute_name(:subtotal)

  - @order.order_items.each do |order_item|
    %tr
      - if order_item.item.image.present?
        %td.thumb-image-col= image_tag order_item.item.image.thumb
      - else
        %td.thumb-image-col= image_tag 'http://placehold.it/50&text=NoImage'
      %td= order_item.item.name
      %td= number_to_currency(order_item.item.price)
      %td= number_to_human(order_item.quantity, units: 'number.human.quantity_units.units')
      %td= number_to_currency(order_item.subtotal)
  %tr.success
    %th{ colspan: 4 }= t('helpers.currency.total')
    %td{ colspan: 3 }= number_to_currency(@order.total_items_price)
  %tr.info
    %th{ colspan: 4 }= Order.human_attribute_name(:fee)
    %td{ colspan: 3 }= number_to_currency(@order.fee)
  %tr.info
    %th{ colspan: 4 }= Order.human_attribute_name(:delivery_fee)
    %td{ colspan: 3 }= number_to_currency(@order.delivery_fee)
  %tr.warning
    %th{ colspan: 4 }= t('helpers.currency.total')
    %td{ colspan: 3 }= number_to_currency(@order.total_price)

= render 'form'

