- @page_title = t('helpers.titles.list', { model: ProvideUser.model_name.human })

%div
  = link_to new_admin_provide_user_path, class: 'btn btn-primary btn-white' do
    %i.glyphicon.glyphicon-plus
    = t('helpers.titles.new', { model: ProvideUser.model_name.human })

%br

%p
  %span.pull-left= t('views.page_info.page', current: @provide_users.current_page, total: @provide_users.num_pages)
  %span.pull-right= t('views.page_info.records', offset: @provide_users.offset_value+1, limit: (@provide_users.offset_value + @provide_users.length), total: @provide_users.total_count)
  %span.clearfix

%table.table.table-striped.table-hover
  %tr
    %th= ProvideUser.human_attribute_name(:email)
    %th= ProvideUser.human_attribute_name(:provider_name)
    %th.action-col
    %th.action-col
    %th.action-col

  - @provide_users.each do |provide_user|
    %tr
      %td= provide_user.email
      %td= provide_user.provider_name
      %td.action-col= link_to t('helpers.actions.show'), [:admin, provide_user], class: 'btn btn-default btn-xs'
      %td.action-col
        = link_to edit_admin_provide_user_path(provide_user), class: 'btn btn-default btn-xs' do
          %i.glyphicon.glyphicon-edit
          = t('helpers.actions.edit')
      %td.action-col
        = link_to [:admin, provide_user], method: :delete, data: { confirm: t('helpers.confirm.delete') }, class: 'btn btn-danger btn-xs btn-white' do
          %i.glyphicon.glyphicon-trash
          = t('helpers.actions.destroy')

= paginate @provide_users

