- @page_title = t('helpers.titles.list', { model: ProvideUser.model_name.human })

%table.table.table-striped.table-hover
  %tr
    %th= ProvideUser.human_attribute_name(:email)
    %th= ProvideUser.human_attribute_name(:provider_name)
    %th
    %th
    %th

  - @provide_users.each do |provide_user|
    %tr
      %td= provide_user.email
      %td= provide_user.provider_name
      %td= link_to 'Show', [:admin, provide_user]
      %td= link_to 'Edit', edit_admin_provide_user_path(provide_user)
      %td= link_to 'Destroy', [:admin, provide_user], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Provide user', new_admin_provide_user_path
