- @page_title = t('helpers.titles.list', { model: CartItem.model_name.human })

%p
  %span.pull-left= t('views.page_info.page', current: @cart_items.current_page, total: @cart_items.num_pages)
  %span.pull-right= t('views.page_info.records', offset: @cart_items.offset_value+1, limit: (@cart_items.offset_value + @cart_items.length), total: @cart_items.total_count)
  %span.clearfix

%table.table.table-striped.table-hover
  %tr
    %th.thumb-image-col
    %th= Item.human_attribute_name(:name)
    %th= CartItem.human_attribute_name(:quantity)
    %th.action-col
    %th.action-col

  - @cart_items.each do |cart_item|
    %tr
      - if cart_item.item.image.present?
        %td.thumb-image-col= image_tag cart_item.item.image.thumb
      - else
        %td.thumb-image-col= image_tag 'http://placehold.it/50&text=NoImage'
      %td= cart_item.item.name
      %td= number_to_human(cart_item.quantity, units: 'number.human.quantity_units.units')
      %td.action-col
        = link_to add_cart_items_path(cart_item.item), class: 'btn btn-default btn-xs' do
          %i.glyphicon.glyphicon-edit
          = t('helpers.actions.edit')
      %td.action-col
        = link_to cart_items_path(cart_item.item), method: :delete, data: { confirm: t('helpers.confirm.delete') }, class: 'btn btn-danger btn-xs btn-white' do
          %i.glyphicon.glyphicon-trash
          = t('helpers.actions.destroy')

= paginate @cart_items

