= simple_form_for(@item) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :image
    = f.input :price
    = f.input :description
    = f.input :display_flag
    = f.input :sort_no

  .form-actions
    = f.button :submit
