%p#notice= notice

%p
  %b Name:
  = @item.name
%p
  %b Image:
  = @item.image
%p
  %b Price:
  = @item.price
%p
  %b Description:
  = @item.description
%p
  %b Display flag:
  = @item.display_flag
%p
  %b Sort no:
  = @item.sort_no

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
