= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |f|
  - if notification = f.error_notification
    = notification

  = f.input :email
  = f.input :password, disabled: disabled_password
  = f.input :password_confirmation, disabled: disabled_password

  .form-actions
    = f.button :submit, class: 'btn-primary'
