= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |f|
  - if notification = f.error_notification
    = notification

  = f.input :email
  = f.input :password, disabled: disabled_password
  = f.input :password_confirmation, disabled: disabled_password
  = f.input :profile_image
  = f.input :nick_name
  = f.input :destination_name
  = f.input :destination_zip_code
  = f.input :destination_address
  = f.hidden_field :lock_version

  .form-actions
    = f.button :submit, class: 'btn-primary'
