- @page_title = t('helpers.titles.list', { model: User.model_name.human })

%p
  %span.pull-left= t('views.page_info.page', current: @users.current_page, total: @users.num_pages)
  %span.pull-right= t('views.page_info.records', offset: @users.offset_value+1, limit: (@users.offset_value + @users.length), total: @users.total_count)
  %span.clearfix

%table.table.table-striped.table-hover
  %tr
    %th.thumb-image-col
    %th= User.human_attribute_name(:email)
    %th= User.human_attribute_name(:nick_name)
    %th.action-col
    %th.action-col
    %th.action-col

  - @users.each do |user|
    %tr
      - if user.profile_image.present?
        %td.thumb-image-col= image_tag user.profile_image.thumb
      - else
        %td.thumb-image-col= image_tag 'http://placehold.it/50&text=NoImage'
      %td= user.email
      %td= user.nick_name
      %td.action-col= link_to t('helpers.actions.show'), [:admin, user], class: 'btn btn-default btn-xs'
      %td.action-col
        = link_to edit_admin_user_path(user), class: 'btn btn-default btn-xs' do
          %i.glyphicon.glyphicon-edit
          = t('helpers.actions.edit')
      %td.action-col
        = link_to [:admin, user], method: :delete, data: { confirm: t('helpers.confirm.delete') }, class: 'btn btn-danger btn-xs btn-white' do
          %i.glyphicon.glyphicon-trash
          = t('helpers.actions.destroy')

= paginate @users

%br

= link_to new_admin_user_path, class: 'btn btn-primary btn-white' do
  %i.glyphicon.glyphicon-plus
  = t('helpers.titles.new', { model: User.model_name.human })
