- @page_title = t('helpers.titles.show', { model: User.model_name.human })

%div.show
  %div.row
    %div.col-sm-2
      %b= User.human_attribute_name(:email)
    %div.col-sm-10
      = @user.email
  %div.row
    %div.col-sm-2
      %b= User.human_attribute_name(:profile_image)
    %div.col-sm-10
      - if @user.profile_image.present?
        = image_tag @user.profile_image
      - else
        = image_tag 'http://placehold.it/100&text=NoImage'
  %div.row
    %div.col-sm-2
      %b= User.human_attribute_name(:nick_name)
    %div.col-sm-10
      = @user.nick_name
  %div.row
    %div.col-sm-2
      %b= User.human_attribute_name(:destination_name)
    %div.col-sm-10
      = @user.destination_name
  %div.row
    %div.col-sm-2
      %b= User.human_attribute_name(:destination_zip_code)
    %div.col-sm-10
      = @user.destination_zip_code
  %div.row
    %div.col-sm-2
      %b= User.human_attribute_name(:destination_address)
    %div.col-sm-10
      = simple_format(@user.destination_address)
  %div.row
    %div.col-sm-2
      %b= User.human_attribute_name(:point)
    %div.col-sm-10
      = number_to_human(@user.point, units: 'number.human.point_units.units')

