- @page_title = t('helpers.titles.list', { model: Coupon.model_name.human })

%p
  %span.pull-left= t('views.page_info.page', current: @coupons.current_page, total: @coupons.num_pages)
  %span.pull-right= t('views.page_info.records', offset: @coupons.offset_value+1, limit: (@coupons.offset_value + @coupons.length), total: @coupons.total_count)
  %span.clearfix

%table.table.table-striped.table-hover
  %tr
    %th= Coupon.human_attribute_name(:code)
    %th= Coupon.human_attribute_name(:point)
    %th= Coupon.human_attribute_name(:used)
    %th= Coupon.human_attribute_name(:used_datetime)
    %th.action-col
    %th.action-col
    %th.action-col

  - @coupons.each do |coupon|
    %tr
      %td= coupon.code
      %td= coupon.point
      %td= coupon.used
      %td= coupon.used_datetime
      %td.action-col= link_to t('helpers.actions.show'), [:admin, coupon], class: 'btn btn-default btn-xs'
      %td.action-col
        = link_to edit_admin_coupon_path(coupon), class: 'btn btn-default btn-xs' do
          %i.glyphicon.glyphicon-edit
          = t('helpers.actions.edit')
      %td.action-col
        = link_to [:admin, coupon], method: :delete, data: { confirm: t('helpers.confirm.delete') }, class: 'btn btn-danger btn-xs btn-white' do
          %i.glyphicon.glyphicon-trash
          = t('helpers.actions.destroy')

= paginate @coupons

%br

= link_to new_admin_coupon_path, class: 'btn btn-primary btn-white' do
  %i.glyphicon.glyphicon-plus
  = t('helpers.titles.new', { model: Coupon.model_name.human })

