- @page_title = t('helpers.titles.show', { model: Coupon.model_name.human })

%div.show
  %div.row
    %div.col-sm-2
      %b= Coupon.human_attribute_name(:code)
    %div.col-sm-10
      = @coupon.code
  %div.row
    %div.col-sm-2
      %b= Coupon.human_attribute_name(:point)
    %div.col-sm-10
      = @coupon.point

  .panel.panel-default
    .panel-heading= t('.coupon_log')

    - if @coupon.coupon_log.nil?
      .panel-body
        %p= t('.nolog_message')
    - else
      %table.table.table-stripe
        %tr
          %th= CouponLog.human_attribute_name(:user_id)
          %th= CouponLog.human_attribute_name(:used_datetime)
        %tr
          %td= @coupon.coupon_log.user.email
          %td= @coupon.coupon_log.used_datetime

