- @page_title = t('helpers.titles.show', { model: Coupon.model_name.human })

%div.show
  %div.row
    %div.col-sm-2
      %b= Coupon.human_attribute_name(:code)
    %div.col-sm-10
      = coupon_code_to_human(@coupon.code)
  %div.row
    %div.col-sm-2
      %b= Coupon.human_attribute_name(:point)
    %div.col-sm-10
      = number_to_human(@coupon.point, units: 'number.human.point_units.units')

  .panel.panel-default
    .panel-heading= t('.coupon_log')

    - if @coupon.coupon_log.nil?
      .panel-body
        %p= t('.nolog_message')
    - else
      %table.table.table-stripe
        %tr
          %th= CouponLog.human_attribute_name(:user_id)
          %th= CouponLog.human_attribute_name(:used_datetime)
        %tr
          - if @coupon.coupon_log.user.nil?
            %td= t('.user_already_destroy')
          - else
            %td= @coupon.coupon_log.user.nick_name(@coupon.coupon_log.user.email)
          %td= @coupon.coupon_log.used_datetime

